body {
	background-color: #4b09e6e5;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
	width: 400px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
}

.header {
	background-color: #d8d1d1;
	padding: 10px 20px;
}

.form{
	padding: 20px 40px;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
}

.form-control lable {
display: inline-block;
margin-bottom: 5px;
}

.form-control input {
	display: block;
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	border: 2px solid black;
}

button {
	border-radius: 4px;
	cursor: pointer;
}
 

 
